# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Apps Script local auth
.clasp.json

# Env
.env
.env.*

# Build
dist/
build/

# Python
__pycache__/
*.pyc

# Dotnet
bin/
obj/